        <div class="nav-container">
            <a id="top"></a>
            <nav>
                <div class="nav-utility">
                    <div class="module left">
                        <i class="ti-location-arrow">&nbsp;</i>
                        <a class="inner-link" href="#contacto">
                            <span class="sub">Av. Alicia Moreau de Justo 1300, Puerto Madero</span>
                        </a>
                    </div>
                    <div class="module left">
                        <i class="ti-email">&nbsp;</i>
                        <span class="sub"><a style="text-decoration: none;" href="mailto:pabellon.artes.uca@gmail.com">pabellon.artes.uca@gmail.com</a></span>
                    </div>
                    <div class="module right">
                        <ul class="list-inline social-list mb24">
                            <li>
                                <a href="{{home.twitter_link}}" target="_blank">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{home.facebook_link}}" target="_blank">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{home.instagram_link}}" target="_blank">
                                    <i class="ti-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nav-bar uppercase sc-background-orange">
                    <div class="module logo left text-brand" style="padding-left: 45px; padding-top: 15px; padding-bottom: 5px">
                        <img src="img/logo_3.png" class="img-responsive" width="200px"/>
                    </div>
                    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                        <i class="ti-menu"></i>
                    </div>
                    <div class="module-group right">
                        <div class="module left">
                            <ul class="menu">
                                <li>
                                    <a class="inner-link" href="#top">
                                        Inicio
                                    </a>
                                </li>
                                <li>
                                    <a class="inner-link" href="#exhibicion">
                                        Exhibición
                                    </a>
                                </li>
                                <li>
                                    <a class="inner-link" href="#galeria">
                                        Galería
                                    </a>
                                </li>
                                <li>
                                    <a class="inner-link" href="#contacto">
                                        Contacto
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!--end of module group-->
                </div>
            </nav>
        </div>
        <div class="main-container">




            <section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
                <ul class="slides">
                    <li class="overlay image-bg" ng-repeat="muestra in current_muestras">

                        <div class="background-image-holder ">
                            <img alt="image" class="background-image" ng-src="http://images.collab-dev.com/uca/{{muestra.main_picture}}" />
                        </div>
                        <div class="container v-align-transform">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
                                    <h2 class="mb0">{{muestra.name}}</h2>
                                </div>
                                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center">
                                    <p class="text-center mb0 text-paragraph" style="margin-top: 20px">
                                        {{muestra.slogan}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>


                </ul>
            </section>

            <section class="ilite" id="exhibicion">
                <div class="container mt80">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="countdown">
                                <img src="img/logo_1.png" width="400" class="img-responsive center-block"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4 class="mb16 color-primary">
                                {{home.description}}
                            </h4>
                        </div>
                    </div>
                </div>
                <!--end of container-->
                <div class="container mb80">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                            <div class="tabbed-content button-tabs">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab-title">
                                            <span class="hidden-sm hidden-xs">{{home.why_title}}</span>
                                            <span class="visible-sm visible-xs">{{home.why_title}}</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                {{home.why_body}}
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span class="hidden-sm hidden-xs">{{home.how_title}}</span>
                                            <span class="visible-sm visible-xs">{{home.how_title}}</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                {{home.how_body}}
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span class="hidden-sm hidden-xs">{{home.what_title}}</span>
                                            <span class="visible-sm visible-xs">{{home.what_title}}</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                {{home.what_body}}
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span class="hidden-sm hidden-xs">{{home.who_title}}</span>
                                            <span class="visible-sm visible-xs">{{home.who_title}}</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                {{home.who_body}}
                                            </p>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                            <!--end of button tabs-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

           <section id="galeria" class="ilite mt0" style="margin: 0px; padding: 0px;">
                <div class="container-flex">
                    <div class="row masonry masonryFlyIn">
                        <div class="col-md-4" style="margin: 0px; padding: 0px;">
                            <div class="image-tile inner-title item-muestra hover-reveal text-center" ng-repeat="item_muestra in remark_muestras |limitTo: limit_remark" style="margin: 0px; padding: 0px;">
                                <a href="http://{{getMuestraLink(item_muestra)}}" target="_blank" style="margin: 0px; padding: 0px;">
                                    <img alt="{{item_muestra.name}}" ng-src="http://images.collab-dev.com/300x345/smart/uca/{{item_muestra.main_picture}}"  style="margin: 0px; padding: 0px;" class="img-responsive" height="345"/>
                                    <div class="title">
                                        <h5 class="muestra-thumb-title uppercase mb0">{{item_muestra.name}}</h5>
                                        <p class="muestra-thum-details">{{item_muestra.more_details}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8" style="margin: 0px; padding: 0px;">
                            <div class="col-sm-6 image-tile inner-title item-muestra hover-reveal text-center" ng-repeat="item_muestra in unremark_muestras |limitTo: limit_normal" style="margin: 0px; padding: 0px;">
                                <a href="http://{{getMuestraLink(item_muestra)}}" target="_blank" style="margin: 0px; padding: 0px;">
                                    <img alt="{{item_muestra.name}}" ng-src="http://images.collab-dev.com/400x230/smart/uca/{{item_muestra.main_picture}}"  style="margin: 0px; padding: 0px;" class="img-responsive" height="230"/>
                                    <div class="title">
                                        <h5 class="muestra-thumb-title uppercase mb0">{{item_muestra.name}}</h5>
                                        <p class="muestra-thum-details">{{item_muestra.more_details}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           <section class="ilite mt0" style="margin: 0px; padding: 0px;">
            <div class="container-flex" style="margin: 0px; padding: 0px; background-color: #162437; color: #FFF; cursor: pointer;" ng-click="showMore()" ng-if="limit_normal < unremark_muestras.length">
                <p class="text-center" style="color: #FFF">Ver Más</p>
            </div>
            </section>
           <section id="twitter-feed" class="ilite mt0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center pt72">
                            <div class="pt88">	
                                <i class="ti-twitter-alt icon icon color-twit"></i>
                                <br/>
                                <div class="twitter-feed tweets-slider large">
                                    <div class="tweets-feed" data-widget-id="{{home.twitter_hashtag}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
            </section>

            <section id="novedades">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="uppercase mb16">{{home.instagram_hashtag}}</h2>
                            <p class="lead mb64 uppercase text-novedades">
                                Seguí las novedades
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="instafeedtag lightbox-grid square-thumbs" data-user-name="PabellonArteUca">
                                <ul></ul>
                            </div>
                            <!--end of lightbox gallery-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>



            <section class="p0" id="contacto">
                <div class="map-holder pt180 pb180">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.6826974889027!2d-58.36602088280991!3d-34.61218427990593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3352a0053efe1%3A0xf289dbcc30ef33ca!2sAv.+Alicia+Moreau+de+Justo+1300%2C+C1107AFB+CABA!5e0!3m2!1ses!2sar!4v1435780990552" allowfullscreen></iframe>
                </div>
            </section>

            <footer class="footer-1 bg-dark" ng-controller="footer-controller">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 uppercase title-footer" style="padding-left: 45px">
                            <img src="img/logo_2.png" width="125px"/>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">

                                <h6 class="title">Facebook</h6>
                                <hr>

				<div class="fb-page" data-href="{{home.facebook_link}}" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="{{home.facebook_link}}"><a href="{{home.facebook_link}}">PabellonArtes</a></blockquote></div></div>

                            </div>
                            <!--end of widget-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Twitter</h6>
                                <hr>
                                <div class="twitter-feed">
                                    <div class="tweets-feed" data-widget-id="{{home.twitter_hashtag}}">
                                    </div>
                                </div>
                            </div>
                            <!--end of widget-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Instagram</h6>
                                <hr>
                                <div class="instafeed" data-user-name="PabellonArteUca">
                                    <ul></ul>
                                </div>
                            </div>
                            <!--end of widget-->
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="sub">&copy; Copyright 2015 - Medium Rare</span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <ul class="list-inline social-list">
                                <li>

                                    <a href="{{home.twitter_link}}" target="_blank">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{home.facebook_link}}" target="_blank">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{home.instagram_link}}" target="_blank">
                                        <i class="ti-instagram"></i>
                                    </a>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
                <!--end of container-->
                <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
            </footer>

        </div>
